<div class="container">
  <div [hidden]="submitted">
<h1 align="center">Post Ad</h1>

<form (ngSubmit)="onSubmit()" #postForm="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title" #title="ngModel">
    <div [hidden]="title.valid || title.pristine"
   class="alert alert-danger">
Title is required
</div>
  </div>
  <div class="form-group">
      <label for="BrandName">Brand Name</label>
      <input type="text" class="form-control" id="BrandName" required [(ngModel)]="model.BrandName" name="BrandName" #BrandName="ngModel">
      <div [hidden]="BrandName.valid || BrandName.pristine"
     class="alert alert-danger">
  Brand Name is required
  </div>
    </div>
    <div class="form-group">
        <label for="ModelName">Model Name</label>
        <input type="text" class="form-control" id="ModelName" required [(ngModel)]="model.ModelName" name="ModelName" #ModelName="ngModel">
        <div [hidden]="ModelName.valid || ModelName.pristine"
       class="alert alert-danger">
    MOdel Name is required
    </div>
      </div>
    

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" required [(ngModel)]="model.description" name="description" #description="ngModel">
    
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" required [(ngModel)]="model.location" name="location" #location="ngModel">
    <div [hidden]="location.valid || location.pristine"
    class="alert alert-danger">
 Location is required
</div>
  </div>
  <div class="form-group">
    <label for="photos">Photos</label>
    <input type="file" class="form-control" id="photos" (change)="OnFileSelected($event)"  [(ngModel)]="model.photos" name="photos" #photos="ngModel">
    
  </div>
  

  <!--div class="form-group">
    <label for="mobileNumber">Mobile Number</label>
    <input type="number" class="form-control" id="mobileNumber" required [(ngModel)]="model.mobileNumber" name="mobileNumber" #mobileNumber="ngModel">
    <div [hidden]="mobileNumber.valid || mobileNumber.pristine"
    class="alert alert-danger">
 Mobile Number is required
</div>
  </div>
-->
<div class="text-center">
  <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Next</button>
 <!-- <button type="button" class="btn btn-default" (click)="newUser(); postForm.reset()">New Post</button>-->

 </div>

 
 
 
</form>

</div>
<div [hidden]="!submitted">
    
      <div class="form-group">
        <label for="SellerName">Seller Name</label>
        <input type="text" class="form-control" id="SellerName" required [(ngModel)]="model.SellerName" name="SellerName" #SellerName="ngModel">
        <div [hidden]="SellerName.valid || SellerName.pristine"
        class="alert alert-danger">
     Seller Name is required
    </div>
      </div>
      <div class="form-group">
        <label for="SellerMobileNo">Seller Mobile Number</label>
        <input type="number" class="form-control" id="SellerMobileNo" required [(ngModel)]="model.SellerMobileNo" name="SellerMobileNo" #SellerMobileNo="ngModel">
        <div [hidden]="SellerMobileNo.valid || SellerMobileNo.pristine"
        class="alert alert-danger">
     Seller Mobile Number is required
    </div>
      </div>
      <div class="form-group">
        <label for="SellerLocation">Seller Location</label>
        <input type="text" class="form-control" id="SellerLocation" required [(ngModel)]="model.SellerLocation" name="SellerLocation" #SellerLocation="ngModel">
        <div [hidden]="SellerLocation.valid || SellerLocation.pristine"
        class="alert alert-danger">
     Seller Location is required
    </div>
      </div>
      
      
    
      <!--div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="number" class="form-control" id="mobileNumber" required [(ngModel)]="model.mobileNumber" name="mobileNumber" #mobileNumber="ngModel">
        <div [hidden]="mobileNumber.valid || mobileNumber.pristine"
        class="alert alert-danger">
     Mobile Number is required
    </div>
      </div>
    -->
    <div class="text-center">
      <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Submit</button>
     <!-- <button type="button" class="btn btn-default" (click)="newUser(); postForm.reset()">New Post</button>-->
    
     </div>
 <!-- <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Title</div>
    <div class="col-xs-6  pull-left">{{ model.title }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Description</div>
    <div class="col-xs-6 pull-left">{{ model.description }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-6 pull-left">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Photos</div>
    <div class="col-xs-6 pull-left">{{ model.photos }}</div>
  </div>
  <div class="row">
      <div class="col-xs-3">Mobile Number</div>
      <div class="col-xs-6 pull-left">{{ model.mobileNumber }}</div>
    </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>-->