<div class="header">
  <h2>Top Selling Tractors</h2>
</div>



<div class="row">

  <div class="card" *ngFor="let tractor of tractors" (click)="onClickMe(tractor.id)"> 

    <img src="assets/images/tractor.jpg" align="left" class="product-image" />
    <div class="product-des-left">
      <h3>{{tractor.brandName}} | {{tractor.modelName}} | {{tractor.modelDate}}</h3>
      <h5>{{tractor.location}} </h5>
    </div>
    <div class="product-des-right">

      <h4>Price {{tractor.price}} </h4>
      <h5>{{tractor.createdDate}}</h5>
    </div>
  </div>
  <br>

  <!--div class="card">
    <img src="assets/images/laddu.JPG" align="left" style="margin:auto;  width:300px;height: 100px;" />
    <h2>car</h2>
    <h5>This is my car, Dec 7, 2017</h5>
    <h6>my mbile no.-9823839</h6>
    <p>Some text..</p>
  </div>
  <div class="card">
    <img src="assets/images/laddu.JPG" align="left" style="margin:auto;  width:300px;height: 100px;" />
    <h2>car</h2>
    <h5>This is my car, Dec 7, 2017</h5>
    <h6>my mbile no.-9823839</h6>
    <p>Some text..</p>
  </div>
  <div class="card">
    <img src="assets/images/laddu.JPG" align="left" style="margin:auto;  width:300px;height: 100px;" />
    <h2>car</h2>
    <h5>This is my car, Dec 7, 2017</h5>
    <h6>my mbile no.-9823839</h6>
    <p>Some text..</p>
  </div>
  <div class="card">
    <img src="assets/images/laddu.JPG" align="left" style="margin:auto;  width:300px;height: 100px;" />
    <h2>car</h2>
    <h5>This is my car, Dec 7, 2017</h5>
    <h6>my mbile no.-9823839</h6>
    <p>Some text..</p>
  </div-->
</div>
<!-- <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>-->